---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
PointerAlignment: Right
ReferenceAlignment: Right
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AlignTrailingComments: true
SortIncludes: Never
AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 1
