# ignores the directory containing the VSCode configuration files
.vscode/*

#ignores the build directory
build/*

#ignores compiler's cache info
.cache/

# ignores dependence files
*.d

# ignores specific files
*.json
*core*

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore compiled object files and executables
*.o
*.obj
*.exe
*.out